{:title "Crapper"
 :prefix "crapper"
 :lang :python
 :src "src"
 :out "examples/crapper.edn"
 :hierarchical true
 :foreign [collections cyclopts datetime enum fnmatch functools itertools json
           operator os pathlib pydantic re rich shlex shutil subprocess sys tomllib
           tree_sitter tree_sitter_language_pack typing urllib xml]
 :order [model discover crapper
         coverage report languages
         analyze runners viewer
         cli
         __main__]
 :levels [[model discover crapper]
          [coverage report languages]
          [analyze runners viewer]
          [cli]
          [__main__]]}
